{% extends "base.html"%}
{% block title %} Signup {% endblock %}
{% block content %} 
<div class="card-wrapper">

  <div class="card">
    <h1>Login Page</h1>
<form method = "POST" action = "{{ url_for('loginPage') }}">
    {{ form.csrf_token }}

    
    {{ form.email.label }}<br>
    {{ form.email }}<br>
    <ul>
        {% for error in form.email.errors %}
            <li style = "color : red;">{{ error }}</li>
        {% endfor%}
    </ul>

    
    {{ form.password.label }}<br>
    {{ form.password }}<br>
    <ul>
        {% for error in form.password.errors %}
            <li style = "color : red;">{{ error }}</li>
        {% endfor%}
    </ul>


    {{ form. loginRecap}}
    <ul>
        {% for error in form.loginRecap.errors %}
            <li style = "color : red;">{{ error }}</li>
        {% endfor%}
    </ul>

    
    {% if errorMsg %}
    {% for msg in errorMsg %}
        <div style = "color : red;"> {{ msg }} </div></br>
    {% endfor %}
    {% endif %}

    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}</br>
    {% endfor %}
    {% endif %}
    {% endwith %}</br>


    {{ form.loginBtn() }}

    <center><a href = "{{ url_for('requestResetPasswordPage') }}">Reset Password</a></center>
    
</form>
</div>

</div>
{% endblock %}


